@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #7664d7;
    color: #333333;
}

body.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo {
    width: 40px;
    transition: 0.2s ease-in-out;
}

header .imagem-botao {
    width: 50px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-marvel:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-marvel {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-marvel {
    background-color: #bebebe;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-marvel:hover {
    background-color: #96d9d6;
}

.modo-escuro .cartao-marvel {
    background-color: #a8a8a8;
}

main .cartao-marvel.informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-marvel .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-marvel .gif {
    width: 90px;
    height: 90px;
}

main .cartao-marvel .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-marvel .tipo {
    padding: 8px;
    border-radius: 10px;
}

.nome {
    background-color: #7ac74c;
}

.sobrenome {
    background-color: #df67ddfb;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #ec1d24;
    border-radius: 10px;
    border: 3px solid #ffffff;
}